header{
    background-image: url(../img/background_3.jpg) !important;
}
.round_buttons, #form {
    display: none;
}

.bed1{
	background-image: url(../img/gal/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	width: 65%;
	height: 100%;
}
.main{
	width: 65vw;
    height: 25vw;
    position: relative;
    margin: auto;
    margin-bottom: 4vw;
    margin-top: 4vw;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
	
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.cont{
	width: 45%;
}
.cont h1{
	font-size: 1.4vw;
    font-family: "Roboto", sans-serif;
    color: rgb(176, 145, 93);
    letter-spacing: 0.1vw;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    line-height: 1.7vw;
}
.cont h2{
	font-size: 0.8vw;
	line-height: 1.2vw;
    font-family: "Roboto", sans-serif;
    color: rgb(176, 145, 93);
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
}
.cont p{
	font-size: 0.8vw;
    line-height: 1.2vw;
    font-family: "Open Sans", sans-serif;
    color: rgb(176, 145, 93);
    text-align: left;
}
.cont div{
	padding: 3.5vw 2vw 3vw 2vw;
}
.cont table th, .cont table tr{
	vertical-align: top;
}
.cont table th{
	padding-right: 1vw;
}
@media screen and (max-width: 900px){
}