footer{
	background-color: #484c3e;
	height: auto;
	text-align: left;
	padding-top: 2vw;
	padding-bottom: 2vw;
}
#footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
#footer_logo img{
	width: 4vw;
}
.footer_links{

}
.footer_links h3{
	margin: 0;
	color: rgb(176, 145, 93);
	font-size: 0.8vw;
	text-transform : uppercase;
	margin-bottom: 1vw;
}
.footer_links a{
	cursor: pointer;
}
.footer_links a:hover{
	text-decoration: underline;
	color: orange;
}
.footer_links p{
	color: rgb(176, 145, 93);
    font-size: 0.8vw;
	margin:0;
	opacity: 0.8;
}
.wraping{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.c img{
	width: 1vw;
    padding-right: 0.3vw;
}
.d img {
    width: 4.5vw;
    padding-right: 1vw;
}
@media screen and (max-width: 900px){
footer{
	text-align: center;
}
#footer {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
#footer_logo img {
    width: 25vw;
}
.footer_links h3 {
    font-size: 4vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
}
.footer_links p {
    font-size: 4vw;
    font-weight: 200;
}
.wraping{
	justify-content: center;
}
.c img{
	width: 5vw;
    padding: 2vw;
}
.d img {
    width: 15vw;
    padding: 2vw;
}
}