footer{
	background-color: #484c3e;
	height: auto;
	text-align: left;
	padding-top: 2vw;
	padding-bottom: 2vw;
}
#footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
#footer_logo img{
	width: 6.5vw;
	padding-right: 1vw;
}
.footer_links img{
	width:1vw;
    padding-right: 0.5vw;
}
.footer_links{
    margin-top: 0.3vw;
    width: 18%;
}
.footer_links h3{
	margin: 0;
	color: #b0915d;
	font-size: 0.8vw;
	text-transform : uppercase;
	margin-bottom: 1vw;
	letter-spacing: 0.1vw;
}
.footer_links a{
	cursor: pointer;
}
.footer_links a:hover{
	text-decoration: underline;
	color: orange;
}
.footer_links p{
	color: #b0915d;
    font-size: 0.8vw;
	margin:0;
	opacity: 0.8;
	line-height: 1.57vw;
}
.wraping{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	margin-top: 2.2vw;
}
.c img{
	width: 1vw;
    padding-right: 0.3vw;
}
.d img {
	width: 3.8vw !important;
    height: 2.5vw !important;
    padding-right: 1vw;
}
.fb_{margin-top: 1.5vw;}
@media screen and (max-width: 900px){
.footer_links img{
	width: 3vw;
	padding-right: 1vw;
}
footer{
	text-align: center;
}
#footer {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
#footer_logo img {
    width: 25vw;
	padding-right: unset;
}
.footer_links h3 {
    font-size: 4vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
}
.footer_links p {
    font-size: 4vw;
    font-weight: 200;
	line-height: unset;
}
.wraping{
	justify-content: center;
	padding-bottom: 6vw;
}
.c img{
	width: 5vw;
    padding: 2vw;
}
.d img {
    width: 20vw !important;
    height: 12vw !important;
}
.footer_links{
	width: 100%;
}
.fb_{margin-bottom: 8vw;}
}