header{
    background-image: none !important;
	height: auto !important;
}
.round_buttons, #form {
    display: none;
}
#Left, #Right{
	position: absolute;
}
#Left img, #Right img{
	width: 3vw;
	padding: 0.5vw;
	cursor: pointer;
	opacity: 0.5;
}
#Left img:hover, #Right img:hover{
	opacity: 1;
}
#Left{
	top: 20vw;
    left: 0;
}
#Right{
    right: 0;
    top: 20vw;
}
#slider_{
	width: 80%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3.2vw;
    margin-bottom: 3vw;
}
#thumbs {
	padding-top: 1vw;
    width: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#panel{
	height: 45vw;
    width: 100%;
}
#largeImage {
    width: 100%;
    height: 100%;
}
#thumbs img {
    cursor: pointer;
    width: 18%;
    height: 9vw;
	padding: 0.5vw;
}
/*#slider-wrap{
	width:99%; 
}
#slider{
	width: 80%;
    height: 40vw;
    overflow: hidden;
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
	margin-top: 1.3vw;
}
.slide{
	width:100%;
	height:100%;
}
.sli-links{
	margin-top:10px;
	text-align:center;
}
.sli-links .control-slide{
	margin:2px;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(radioBg.png) center bottom no-repeat;
}
.sli-links .control-slide:hover{
	cursor:pointer;
	background-position:center center;
}
.sli-links .control-slide.active{
	background-position:center top;
}
#prewbutton, #nextbutton{
    display: block;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    text-indent: -999px;
    background: url(../img/left.png) left center no-repeat;
    opacity: 0.8;
    z-index: 1;
    outline: none !important;
}
#prewbutton{left:0px;
}
#nextbutton{
	right:0px;
	background:url(../img/right.png) right center no-repeat;
}
#prewbutton:hover, #nextbutton:hover{
	opacity:1;
}*/
#close, #bg_layer{display:none;}
@media screen and (max-width: 900px){
header{
    background-image: none !important;
}
#slider_ {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#panel {
	height: 65vw;
	display: none;
    position: fixed;
	box-shadow: 0 0 1000px rgba(0,0,0,1);
	z-index: 4;
	top: 40vw;
}
#Left img, #Right img {
    width: 13vw;
	opacity: 1;
}
#Right,
#Left {
    top: 65vw;
    display: none;
    position: fixed;
    z-index: 5;
}
#thumbs img {
    cursor: pointer;
    width: 50%;
    height: 32vw;
    padding: 0;
}
#thumbs{
	padding-top: 0;
}
#close{
    display: block;
    position: fixed;
    z-index: 4;
    right: 20px;
    margin-top: 20px;
}
#close img{
	cursor: pointer;
	width: 30px;
}
#bg_layer {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
}
}