ul, li{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
	margin: 0;
}
header{
	background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 38vw;
    position: relative;
    background-position-y: 35%;
}
#navigation {
    background-color: rgba(0,0,0,0.3);
    position: relative;
    text-align: right;
    top: 1vw;
    padding-right: 6vw;
    font-size: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}
#navigation li {
    display: inline;
    list-style: none;
    font-size: 0.8vw;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0.6;
    font-stretch: condensed;
    letter-spacing: -0.5px;
}
#navigation a {
    color: white;
    font-weight: 300;
	border-right: 1px solid white;
    padding-left: 0.2vw;
    padding-right: 0.6vw;
}
#logo img{
	position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0;
    width: 4.5vw;
}
@media screen and (min-width: 1500px){
#navigation li {
    font-size: 0.6vw;
}
}
@media screen and (max-width: 900px){
}