header{
    background-image: url(../img/background_2.jpg) !important;
}
.round_buttons, #form {
    display: none;
}
#main{
	padding-top: 1.5vw;
}
.bed1{
	width: 65%;
	height: 100%;
	position: relative;
}
#bed1-1{
	background-image: url(../img/beds/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
#bed1-2{
	display: none;
	background-image: url(../img/beds/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.triggers{
	position: absolute;
    display: flex;
    top: 10vw;
    justify-content: space-between;
    width: 100%;
}
.triggers img{
	width: 2vw;
    padding: 1vw;
}

.bed2{
	width: 65%;
	height: 100%;
	position: relative;
}
#bed2-1{
	background-image: url(../img/beds/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
#bed2-2{
	display: none;
	background-image: url(../img/beds/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.bed3{
	width: 65%;
	height: 100%;
	position: relative;
}
#bed3-1{
	background-image: url(../img/beds/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
#bed3-2{
	display: none;
	background-image: url(../img/beds/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.main{
	width: 65vw;
	height: 25vw;
	position: relative;
	margin: auto;
	margin-bottom: 1.5vw;
	box-shadow: 0 0 30px rgba(0,0,0,0.2);
	
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.cont{
	width: 45%;
}
.cont h1{
	font-size: 1.4vw;
    font-family: "Roboto", sans-serif;
    color: rgb(176, 145, 93);
    letter-spacing: 0.1vw;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    line-height: 1.7vw;
}
.cont p{
	font-size: 0.8vw;
    line-height: 1.2vw;
    font-family: "Open Sans", sans-serif;
    color: rgb(176, 145, 93);
    text-align: left;
}
.cont button{
	color: rgb(176, 145, 93);
    text-transform: uppercase;
    border: 1px solid;
    background-color: white;
    font-size: 1.1vw;
    padding: 0.2vw 1.2vw;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.1vw;
}
.cont button:hover{
	color: white;
    border: 1px solid rgb(176, 145, 93);
    background-color: rgb(176, 145, 93);
}
.cont div{
	padding: 3.5vw 2vw 3vw 2vw;
}
@media screen and (max-width: 900px){
header{
   height: 0 !important;
   z-index: 2;
}
#main {
    padding-top: 0;
}
.main {
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
    margin-bottom: 0;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	flex-direction: column;
}
.bed1, .bed2, .bed3 {
    width: 100%;
    height: 130vw;
}
#bed1-1, #bed1-2, #bed2-1, #bed12-2, #bed3-1, #bed3-2{
	width: 100%;
    height: 130vw;
    background-position-x: center;
}
.cont {
    width: 80%;
    margin: auto;
    height: 100vw;
    margin-top: -20vw;
    background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	text-align: center;
	z-index: 1;
}
.cont h1 {
    font-size: 5vw;
    text-align: center;
    line-height: unset;
    padding: 5vw;
}
.cont div {
    padding: 0 6vw 0 6vw;
}
.cont p {
    font-size: 3vw;
    line-height: unset;
    text-align: justify;
}
.cont button {
    font-size: 5vw;
    padding: 1.5vw 8vw;
	margin-top: 5vw;
}
.triggers{display:none;}

}